* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	font-size: 16px;
    font-family: 'Quicksand', Helvetica, sans-serif;
	background-color: #959494;
    
}

/* phone or baseline views **************************/

#banner {
	font-size: 1rem;
	text-align: center;
	padding: 10px;
}

header,
footer {
	width: 100%;
	background-color: #959494;
/*	display: flex;
	flex-flow: column;*/
	align-items: center;
	justify-content: center;
	padding: .75rem;
}

footer {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

header,
main,
footer {
	max-width: 100%;
	margin: 0 auto;
}

header img {
	margin: 0 3% 0 0;
}

h1 {
	font-size: 1.1rem;
}
h2 {
	color: #536878;
    margin-bottom: 10px;
}

header .date {
	text-align: center;
	margin: 0 0 10px 0;

}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 100%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
	overflow: hidden;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
	height: 55px;
    text-decoration: none;
	color: #fff;
    border-top: 1px solid rgba(0,0,0,0.5);
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) bottom /
	var(--d, 0) 3px no-repeat;
transition: 0.5s;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}


.active {
	color: yellow;
}

.main-grid {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;

	font-size: 0.8rem;
}
.main-grid article {
	margin-bottom: 6px;
	margin-left: 16px;
	margin-right: 16px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #eee;
}
.main-grid article ul {
	margin: 1rem 0 0 1rem;
}

article h2 {
	text-align: center;
}

.spotlights {
	text-align: center;
}

.spotlights div {
	text-align: center;
}

.main-grid picture {
	margin: 1rem;
}

#hero img {
    width: 100%;
}

.spotlights {
    padding: 1rem;
    border: 1px solid #CCC;
    display: grid;
    grid-template-columns: auto;
	text-align: left;
}

#spot1 {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	height: auto;
	grid-area: 2 / 1/ span 1/ span 1;
}
#spot2 {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	height: auto;
	grid-area: 3 / 1/ span 1/ span 1;

}



/* for small display suppress 3rd spotlight */

.spotlights div:nth-child(4) {
	display: none;
}
  
.spotlights img {
	width: 50%;
	height: auto;
	border-radius: 10%;
}

#join {
	display: none
}

footer {
	margin-top: 13px;
}
footer p {
	padding: .5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footerLogo {
	max-width: 50px;
	height: auto;
	border-radius: 40%;
}
  
.yellow {
	font-size: 12pt; color: yellow;
}

.pgtitle {
    padding-left: 20px;
}

/*Discover Page */

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
	background-color: #aaa;
    padding: 25px;
    border-radius: 15px;
}
.gallery img[data-src] {
    filter: blur(0.2em);
}
.gallery img {
    filter: blur(0em);
    transition: filter 0.5s;
    border-radius: 5px;
    transition: transform .4s;
}
.stats {
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    margin: 25px;
	background-color: #aaa;
    padding: 25px;
    border-radius: 15px;
}

/* Join Page */

form fieldset {
    margin: 2rem 0;
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 96%;
	background-color: #aaa;

}
form legend {
    margin: 0 1rem;
    text-align: center
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
}

form label.top input,  form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    width: 92%;
    max-width: 25rem;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555
}
label.sbs input {
    margin: 5px;
}
form input.submitBtn {
    border: none;
    background-color: green;
    color: black;
    font-weight: 600;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: auto;
    width: 96%;
    max-width: 25rem;
}
form label.top input:required {
    border: red solid 2px;

}
form label.top input:required:valid {
    border: green solid 2px;
}
.member-levels p{
    font-weight: bold;
    font-style: italic;
}
.member-levels ul li{
    list-style: circle;
    padding: 3px;

}

/* Directory Page */

.members section {
    border: 1px solid black;
    background-color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    flex-basis: auto;
  }
  
  .members {
    min-width: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .directoryGrid { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  } 
  
  
  /* Directory Page - List View */
  
  .list section {
      display: flex;
      align-items: center;
      flex-direction: row; 
    min-height: 5rem;
  }
  
  .list section > * {
      margin: 0 1rem;
      text-align: left;
  }
  
  .list section img {
      display: none;
  }
  
  
  /* Directory Page - Buttons */
  
  
  .btn:hover {
    color: white;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5pt;
  }
  
  .btn {
    padding: 15px 40px;
    margin: 10px;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid black;
    border-radius: 5pt;
    box-shadow: 3px 3px 10px gray;
  }

  /* For Weather */
  figcaption {
    text-transform: capitalize;
  }
  #current-temp {
    font-size: x-large;

  }

  /* For Contact */

  .member-levels p{
    font-weight: bold;
    font-style: italic;
}
