/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1.1rem;
	}

	/* Grid *********************/
	nav ul {
		display: grid;
/* 		grid-template-columns: repeat(5, 1fr); */
		grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	} 

	nav button {display: none;}

	nav ul#primaryNav {
		display: flex;
		margin-left: 2wv;
		border-left: 1px solid rgba(0,0,0,0.3);
	}
	
	nav ul li a {
		border: none;
		border-right: 1px solid rgba(0,0,0,0.3);
	}
	
	nav a {
		font-size: 1rem;
	}

	nav a:hover {
		/* 	background-color: #bbb;
	color: #36454f; */
		--d: 75%;
	}


	.main-grid {
 		grid-template-columns: 25% 25% 25% 25%;
		width: 100%;
 		grid-gap: none;
 		/* background-color: #2196F3; */
 		padding: 0px;
 	}

	.main-grid > div {
 		background-color: #eee;
 		padding: 1rem;
 		font-size: 16px;
 	}
 
	#event {
		grid-area: 1 / 1 / span 1 / span 1;
	}
	#hero {
		grid-area: 1 / 2 / span 2 / span 2;
	}

	#hero img {
		justify-self: center;
		width: 103%;
	}

	.main-grid picture {
		margin: 0 -8px 4px -8px;
		width: 99.5%;
	}


	.spotlights {
		grid-area: 1 / 4 / span 3 / span 1;
		padding: 1rem;
		border: 1px solid #CCC;
		display: grid;
		grid-template-columns: auto;
		align-items: center;
	}
	#spot1 {
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding: 1rem;
		height: auto;
		grid-area: 2 / 1/ span 1/ span 1;
	}
	#spot2 {
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding: 1rem;
		height: auto;
		grid-area: 3 / 1/ span 1/ span 1;
	}
	
	.spotlights div:nth-child(4) {
		display: grid;
	}
	#spot3 {
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding: 1rem;
		height: auto;
		grid-area: 4 / 1/ span 1/ span 1;
	}
	#spot3 img {
		justify-self: center;
	}
	
	#weather {
		grid-area: 2 / 1 / span 1 / span 1;
	}

	#join {
		grid-area: 3 / 1 / span 1 / span 1;
	}
	#news {
		grid-area: 3 / 2 / span 1 / span 2;
		margin: 0 0 6px 0;
		justify-self: center;
		width: 103%;
	}

	.pgtitle {
		padding-left: 100px;
	}

	.stats {
		grid-column: 2/3;
		grid-row: 3/4;
	}
}
