  /* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.5rem;
	}

	.main-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
	main #hero {
		grid-column: span 2;
	/* 	grid-column: 1/2; */
        grid-row: 1;
	}
	main #news {
		grid-column: span 2;
        grid-row: 2;
	}
	main .spotlights {
		grid-column: span 2;
        grid-row: 3;
	}	
	main #join {
		grid-column: span 2;
        grid-row: 4;
	}

	#event, #weather {
		grid-row: 5/5;
	}
	
	footer p span:not(:last-child)::after {
		content: ' 🧪\00a0';
	}
	
}

/*.stats {
	padding: 10px;
	margin: .5rem;
	border-radius: 5px;
	height: fit-content;
	flex-direction: column;
}*/
