  /* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.5rem;
	}

	.main-grid {
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		justify-content: space-between;
	}

	.main-grid picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}

	#hero {
		grid-area: 1 / 1 / span 1 / span 5;

	}
	#news {
		grid-area: 2 / 1 / span 1 / span 5;
	}

	.spotlights {
		grid-area: 3 / 1 / span 1 / span 5;
		width: 90%%;
		display: grid;
		grid-template-columns: auto auto;
		text-align: left;	
	}

	.spotlights h2 {
		grid-area: 1 / 1/ span 1/ span 2;
	}
	#spot1 {
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding: 1rem;
		height: auto;
		grid-area: 2 / 1/ span 1/ span 1;
	}
	#spot2 {
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding: 1rem;
		height: auto;
		grid-area: 2 / 2/ span 1/ span 1;
	
	}
		

	#join {
		display: grid;
		grid-area: 4 / 1 / span 1 / span 5;
	}

	#event {
		grid-area: 5 / 1 / span 1 / span 3;
	  }
	  
	#weather {
		grid-area: 5 / 4 / span 1 / span 2;
	}

	footer p span:not(:last-child)::after {
		content: ' 🧪\00a0';
	}
	
}

